
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Righteous&family=Roboto&display=swap');


:root {
    --bg-color: #1E1B56;
    --light: #FFF;
    --button-color: #8283D7;
    --primary: #28285F;
    --secondary: #D9D9D9;
    --third: #424281;
}



body {
    background-color: var(--bg-color);
    padding: 5rem 8rem 5rem 8rem;
    color: var(--light);
    scroll-behavior: smooth;

}

.logo {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px;
    transform-origin: center;
    transition: 0.4s;
}

.logo:hover {
    transform: scale(1.05);
}
.navigation-bar {
    display: flex;
    margin-bottom: 100px;
}
.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    
}

.navigation-bar > div {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.3;
    color: #FFF;
    font-size: 1.2rem;
}
:-webkit-any-link {
    color: #FFF;
    cursor: pointer;
}
.navigation-bar > div > a:hover {
    text-align: underline;
    opacity: 95%;
    transition: 0.4s;
    text-decoration: underline;
    cursor: pointer;
}
.drop-down-nav {
    display: none;
}
.paragraph {

    font-family: 'Outfit', sans-serif;
}


.paragraph h1 {
    color: #FFF;
    font-family: Outfit;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 1000;
    line-height: 101px; 
    text-transform: capitalize;
}
.paragraph p {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.48px;
    margin-bottom: 50px;
}
.paragraph button {
    border-radius: 83px;
    background: #8283D7;
    color: #FFF;
    border: none;
    font-weight: 1000;
    font-size: 1.2rem;
    padding: 1.2rem 4rem 1.2rem 4rem;
    flex: 0;
    box-shadow: 10px 5px 5px var(--primary);
    cursor: pointer;
}

.paragraph button:hover {
    transform: translate(5px,5px);
    box-shadow: 0;
    transition: 0.4s;
}
.section-1 {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 60px;
    flex-flow: row;
    flex-wrap: wrap;
}

.section-2 {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 150px;
    flex-flow: row;
    flex-wrap: wrap;
}
footer {
    margin-top: 120px;
}
footer > h1 {
    color: #FFF;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
}
footer > div {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;

}
footer > div > a {
    color: #FFF;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    font-weight: 400;
    line-height: 31px; /* 193.75% */
}

footer > div > a:hover {
    text-align: underline;
    opacity: 95%;
    transition: 0.4s;
    text-decoration: underline;
    cursor: pointer;
}
@media only screen and (max-width: 668px) {
    .navigation-bar > div {
        display: none;
    }
    .drop-down-nav {
        display: flex;
        margin-left: 30px;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 500;
    }
}
.examnote{
    text-align: center;
    font-size: 40px;
    font-family: 'Prompt';
}
.flexbox{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.item{
    display: block;
    box-sizing: border-box;
    width: 33.33%;
    height:auto;
    padding-left: 20px;
    padding-right: 20px;
}
.content{
    background-color: #28285F;
    padding: 16px;
    text-align: center;
    height: 90px;
    border-radius: 20px;
    min-width: 100px;
}

.content > h4 {
    color: var(--light);
    font-size: 1.5rem;
    font-weight: 400;
    font-family:'Roboto', sans-serif;
}
.content1{
    background-color: #D9D9D9;
    padding: 16px;
    height: 210px;
    border-radius: 20px;
    min-width: 100px;
    color: #1E1B56;
    font-family: 'Outfit';
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


:root {
    --bg-color: #1E1B56;
    --light: #FFF;
    --button-color: #8283D7;
    --primary: #28285F;
    --secondary: #D9D9D9;
    --third: #424281;
}



body {
    background-color: var(--bg-color);
    padding: 5rem 8rem 5rem 8rem;
    color: var(--light);
    scroll-behavior: smooth;
}

.logo {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px;
    
}

.navigation-bar {
    display: flex;
    margin-bottom: 100px;
    font-family: 'Prompt', cursive;
}
.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    
}

.navigation-bar > div {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.3;
    color: FFF;
    font-size: 1.2rem;
}
.navigation-bar > div > a:hover {
    text-align: underline;
    opacity: 95%;
    transition: 0.4s;
    text-decoration: underline;
    cursor: pointer;
}
.drop-down-nav {
    display: none;
}
.paragraph {

    font-family: 'Outfit', sans-serif;
}


.paragraph h1 {
    color: #FFF;
    font-family: 'Prompt';
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 1000;
    line-height: 101px; 
    text-transform: capitalize;
}
.paragraph p {
    color: #FFF;
    font-family: 'Prompt';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.48px;
    margin-bottom: 50px;
}
.paragraph button {
    border-radius: 83px;
    background: #8283D7;
    color: #FFF;
    border: none;
    font-family: 'Prompt';
    font-weight: 1000;
    font-size: 1.2rem;
    padding: 1.2rem 4rem 1.2rem 4rem;
    flex: 0;
    box-shadow: 10px 5px 5px var(--primary);
    cursor: pointer;
}

.paragraph button:hover {
    transform: translate(5px,5px);
    box-shadow: 0;
    transition: 0.4s;
}
.section-1 {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 60px;
    flex-flow: row;
    flex-wrap: wrap;
}

.section-2 {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 150px;
    flex-flow: row;
    flex-wrap: wrap;
}

.box {
    background-color: #424281;
    padding: 10px;
    border-radius: 21px;
    display: flex;
    transition: 0.8s all;
    flex-direction: column;
}
.box:hover {
    border: solid #FFF
}
.box img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    align-self: center;
}
.box  h1 {
    font-family: 'Roboto', 'Prompt';
    font-weight: bold;
    margin-left: 10px;
}
.box p {
    font-family: 'Roboto';
    margin-top: 20px;
}
.view {
    display: flex;
    margin-top: 10px;
}
.view img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
#view-icon {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-top: 10px;
}


#note-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    transition: all 1s;
}
#search {
    
    padding: 10px 10px;
    border-radius: 13px;
    background: rgba(51, 42, 118, 0.40);
    border: 0;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    width: 15rem;
    height: 2rem;
    opacity: 80%;
    font-size: 1rem;
    margin-left: 1000px;
    margin-top: 30px;
    margin-bottom: 15px;
}

#search::-webkit-input-placeholder {
    color: white;
    font-family: 'Prompt', sans-serif;
    opacity: 0.8;
    mix-blend-mode: lighten;
}


@media only screen and (max-width: 599px) {
    .navigation-bar > div {
        display: none;
    }
    .drop-down-nav {
        display: flex;
        margin-left: 30px;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 500;
    }
}

.drop-down-tag {
  margin-right: 10px;
  border: 0;
}

#selected-option {
  padding: 15px 100px 15px 10px;
  border-radius: 15px;
  cursor: pointer;
  background: rgba(61, 54, 118, 0.4);
  width: 150px;
  font-family: 'Prompt';
  opacity: 80%;
}

#tag-search {
  display: none;
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 99;
  margin-bottom: 30px;
  padding: 25px 30px;
  border-radius: 13px;
  background: rgba(51, 42, 118, 0.40);
  border: 0;
  color: white;
  font-family: 'Roboto';
  font-weight: bold;
  width: 15rem;
  opacity: 80%;
  font-size: 1rem;
  margin-right: 10px;
  transition: max-height 0.5s ease-out;
  opacity: 80%;
}
#tag-search.open {
    max-height: 1000px;
    transition: max-height 0.5s ease-out;
}
.option {
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.option:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: all 0.5s;
}
  
footer {
    margin-top: 120px;
}
footer > h1 {
    color: #FFF;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
}
footer > div {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;

}
footer > div > a {
    color: #FFF;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    font-weight: 400;
    line-height: 31px; /* 193.75% */
}

footer > div > a:hover {
    text-align: underline;
    opacity: 95%;
    transition: 0.4s;
    text-decoration: underline;
    cursor: pointer;
}


.content-share-note {
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(170, 170, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

#content-share-note-input {
    background-color: #424281;
    padding: 18px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    border: 0;
    font-family: 'Prompt','Roboto';
    font-size: 16px;
}

#content-share-note-input:focus {
    border: 0;
}
/* content share note button style */
#content-share-note-button {
    background-color: #424281;
    padding: 16px 50px 16px 50px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    border: 0;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: bold;
    margin: 20px 10px 10px 0px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
#content-share-note-button:active , #content-share-note-button:hover  {
    transform: translate(5px, 5px);
    transition: transform 0.3s ease-in-out;
}
#content-share-note-button-flex {
    display: flex;
    flex-wrap: column;
}

.custom-file-upload {
    display: block;
    width: 30%;
    opacity: 90%;
    background-color: #424281;
    padding: 16px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    border: 0;
    font-family: 'Prompt', 'Roboto';
    font-size: 1rem;
    font-weight: bold;
    margin: 20px 10px 10px 0px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.content-view-note {
    display: flex;
}

.note-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424281;
    border-radius: 15px;
    width: 700px;
}

.note-container img {
    border-radius: 15px;
    width: 100%;
}
.description-container {
    border-radius: 30px;
    background: #7e7ecc;
    padding: 10px;
    margin-left: 25px;
    font-family: 'Roboto';
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.description-container h1 {
    background-color: #424281;
    padding: 18px;
    border-radius: 10px;
}

.description-container p {
    background-color: #424281;
    padding: 18px;
    border-radius: 10px;
    width: 80%;
}
.view-container {
    display: flex;
    background-color: #424281;
    padding: 18px;
    border-radius: 10px;
    width: 80%;
    justify-content: space-between;
}
.view-container img {
    margin-top: 20px;
    height: 30px;
    width: 30px;
}

.date-create {
    background-color: #424281;
    padding: 18px;
    border-radius: 10px;

}

.prev-next-container {
    padding: 18px;
    border-radius: 10px;
    width: 80%;
}
.prev-next-container > button {
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
    background: #424281;
    color: white;
    border: 0;
    margin-right: 10px;
    font-size: 1rem;
    font-family: 'Roboto';
}

.prev-next-container > button:hover {
    transition: all 0.4s;
    border: 1px solid white;
}


.container01{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top : 100px;
}

#newest-button{
    background: rgba(61, 54, 118, 0.4);
    color: rgba(255, 255, 255, 1);
    width: 218px; 
    height: 69px; 
    font-size: 18px;
    border-radius: 13px;
    border: 0;
    margin-right: 40px;
    font-family: 'Prompt', cursive;
}

#newest-button:hover {
    border: 2px solid white;
    transition: all 0.5s;
}
#newest-button:active {
    border: 4px solid white;
    transition: all 0.5s;
}
#max-view-button{
    background: rgba(61, 54, 118, 0.4);
    color: rgba(255, 255, 255, 1);
    width: 218px; 
    height: 69px; 
    font-size: 18px;
    border-radius: 13px;
    border: 0;
    margin-left: 40px;
    font-family: 'Prompt', cursive;
}

#max-view-button:hover {
    border: 2px solid white;
    transition: all 0.5s;
}

#max-view-button:active {
    border: 4px solid white;
    transition: all 0.5s;
}
#content-share-note-description{
    background-color: #424281;
    padding: 18px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    border: 0;
    font-family: 'Prompt','Roboto';
    font-size: 16px;
    margin-top: 10px;
}

#content-share-note-tag{
    background-color: #424281;
    padding: 18px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    border: 0;
    font-family: 'Prompt','Roboto';
    font-size: 16px;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px; /* Adjust the width as needed */
    margin-right: 10px; /* Add some space to the right of the input */
}

.tag {
    background-color:#28285F;
    margin-left: 8px;
    padding: 8px;
    font-size: 0.8rem;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Roboto';
}

#content-share-note-tag-button {
    background-color: #424281;
    padding: 16px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    border: 0;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: bold;
    margin: 20px 10px 10px 0px;

    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    margin-left: 10px;
}

.uploaded-tag {
    background-color: #424281;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    font-family: 'Prompt', "Roboto";
    font-weight: bold;
}

#tag-upload-list {
    margin-top: 10px;
    height: 100%;
    width: auto;
}

.remove-button {
    background-color: transparent;
    color: white;
    border: 0;
    cursor: pointer;
    margin-left: 5px;
}

#selected-files {
    margin-top: 20px;
    display: block;
    border-radius: 10px;
    background-color: #424281;
    width: 30%;
    font-family: 'Roboto', 'Prompt';
    font-weight: bold;
}


#selected-files div {
    padding: 10px;
}
